@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: rgba(255, 255, 255, 1);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none; 
  background-color: transparent; 
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

